<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col ml-auto mr-auto text-center" *ngIf="loading" >
				<div class="row animated fadeIn">
					<div class="spinner-border m-5" role="status" style="width: 5rem; height: 5rem;">
						<span class="sr-only">Cargando ...</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
						<h3 class="text-primary">Cargando componentes ... </h3>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="!loading" class="container">
			<div class="row">
				<div class="col-md-10 ml-auto mr-auto">
					<full-calendar
						locale="es"
						[buttonText]="{
							today: 'Hoy',
							month: 'Mes',
							week: 'Semana',
							day: 'Día',
							list: 'Lista'
							}"
						defaultView="dayGridMonth"
						allDayText="Todo el día"
						[header]="{
							left: 'title',
							center: 'dayGridMonth,timeGridWeek,timeGridDay',
							right: 'prev,next today'
						}"
						[plugins]="calendarPlugins"
						[events]="calendarEvents"
						[weekends]="calendarWeekends"
						noEventsMessage="No hay eventos que mostrar"
						>
					</full-calendar>
				</div>
			</div>
		</div>
	</div>
</div>
