<div class="main-content">
	<div class="container-fluid">
		<div class="row" *ngIf="loading">
				<app-loading-spinner
					class="col ml-auto mr-auto text-center">
				</app-loading-spinner>
		</div>
		<div *ngIf="!loading" class="container">
			<div class="row">
				<div class="col-sm-12 col-md-11 col-lg-10 ml-auto mr-auto">
					<div class="card">
						<div class="card-header card-header-text card-header-primary">
							<div class="card-text">
								<h4 class="card-title">Calendario general de cursos</h4>
								<p class="card-category">
									Localiza aquí las fechas cuándo comienzan tus cursos y la duración de los mismos
								</p>
							</div>
							<div class="card-body">
							</div>
						</div>
					</div>
					<full-calendar
						locale="es"
						[buttonText]="{
							today: 'Hoy',
							month: 'Mes',
							week: 'Semana',
							day: 'Día',
							list: 'Lista'
							}"
						[buttonIcons]="{
							prev: 'left-single-arrow',
							next: 'right-single-arrow',
							prevYear: 'left-double-arrow',
							nextYear: 'right-double-arrow'
						}"
						defaultView="dayGridMonth"
						allDayText="Todo el día"
						[header]="{
							left: 'title',
							center: 'dayGridMonth,timeGridWeek,timeGridDay',
							right: 'prev,next today'
						}"
						[plugins]="calendarPlugins"
						[events]="calendarEvents"
						[weekends]="calendarWeekends"
						noEventsMessage="No hay eventos que mostrar"
						>
					</full-calendar>
				</div>
			</div>
		</div>
	</div>
</div>
