<div class="wrapper">
	<div *ngIf="loading" class="text-center">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<div *ngIf="!loading">
		<div class="main-content">
			<div class="navbar">
				<div class="navbar-brand">
					<img src="assets/img/cetec_redwhite_brand.png" alt="CETEC" width="42px">
				</div>
				<div class="navbar-text mr-auto">
					Curso: <span class="text-primary">{{blockData.courseCode}}</span> Grupo: <span class="text-primary">{{blockData.groupCode}}</span> {{today | date: 'medium'}}
				</div>
			</div>
			<div class="container-fluid">
				<div class="alert alert-danger alert-with-icon" data-notify="container">
					<i class="material-icons" data-notify="icon">notifications</i>
					<button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<i class="material-icons">close</i>
					</button>
					<span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
					EXAMEN INICIADO - NO CERRAR ESTA VENTANA O SE TOMARÁ COMO EXAMEN ENTREGADO
				</div>
			</div>
			<div class="container-fluid">
				<div class="alert alert-info">
					<h4>Examen {{blockData.blockSection}}.{{blockData.blockNumber}} {{blockData.blockTitle}}</h4>
				</div>
			</div>
			<div class="container-fluid">
				<div class="card">
					<div class="card-header">

					</div>
					<div class="card-body">
						<div *ngIf="question.label">
							<legend>
								{{question.label}} <span *ngIf="question.help">- {{question.help}}</span>
							</legend>
						</div>
						<div *ngIf="!question.label">
							<!-- <span class="text-primary" style="margin-bottom:15px;"><i class="fas fa-info-circle"></i> Pregunta {{questionNumber+1}} {{question.help}}</span> -->
							<legend>Pregunta {{questionNumber+1}} <span *ngIf="question.help">- {{question.help}}</span>
							</legend>
						</div>
						<!--Para los headers de las preguntas-->
						<div *ngIf="question.header">
							<div [innerHTML]="question.header"></div>
						</div>
						<!--  -->
						<!--Contenido o texto adicional de la pregunta-->
						<div [innerHTML]="question.text"></div>
						<!--  -->
						<!--Para las preguntas que tengan pie de pagina-->
						<div *ngIf="question.footer">
							<span class="text-primary text-justify">
								<i class="fas fa-quote-left"></i>
								<p>
									{{question.footer}}
								</p>
							</span>
						</div>
						<!--  -->
						<!--Seccion para el tipo de respuesta en optativas-->
						<!-- <div *ngIf="question.type == 'option'" style="margin-top:15px;">
							<div *ngFor="let option of question.options;let optionId=index">
								<div class="form-check">
									<input class="form-check-input" type="radio" [name]="questionNumber" id="questionNumber" value="option.value" (change)="getAnswer(question.id, optionId, question.type, 0, questionNumber)" >
									<label class="form-check-label" for="exampleRadios1">
										{{option.value}}
									</label>
								</div>
							</div>
						</div> -->
						<div *ngIf="question.type == 'option'" style="margin-top:15px;">
							<mat-form-field>
								<!-- <mat-label>
									Pregunta {{questionNumber+1}}
								</mat-label> -->
								<mat-select
									placeholder="Selecciona una respuesta"
									[(ngModel)]="selectedValue"
									[id]="questionNumber"
									>
									<mat-option
										*ngFor="let option of question.options"
										[value]="option.value"
										>
										{{option.value}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<!--  -->
						<!--Seccion para el tipo de preguntas map-->
						<div *ngIf="question.type == 'map'" style="margin-top:15px;">
							<div *ngFor="let map of question.group; let mapId = index">
								<div class="row">
									<div class="col">
										<div class="card">
											<div class="card-header">
												<div [innerHTML]="map"></div>
											</div>
											<div class="card-body">
												<form class="form-inline ">
													<div class="form-group" *ngFor="let option of question.options;let optionMapId = index">
														<input class="form-check-input" type="radio" [name]="mapId" value="option.value" (change)="getAnswer(question.id, optionMapId, question.type, mapId,questionNumber)">
														<label class="form-control-plaintext">{{option.value}}</label>
														<hr>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col">

									</div>
								</div> -->
							</div>
							<hr>
						</div>
						<!---->
						<!--Seccion para el tipo de preguntas group-->
					<div *ngIf="question.type == 'group'" style="margin-top:15px;">
						<div *ngIf="question.display.length != 0">
							<div *ngFor="let itemmap of item.group;let indexopt = index;">
								<div *ngFor="let ordercomp of question.display;let indexorder = index;">
									<div *ngIf="indexorder == indexopt">
										<div *ngIf="ordercomp == 0" class="row">
											<div class="col-6">
												<input type="text" class="form-control" #answer (blur)="getAnswer(question.id, answer.value, question.type, indexopt, questionNumber)">
											</div>
											<div class="col-6">
												<div class="alert alert-primary" role="alert">
													<div [innerHTML]="itemmap"></div>
												</div>
											</div>
										</div>
										<div *ngIf="ordercomp == 1" class="row">
											<div class="col-6">
												<div class="alert alert-primary" role="alert">
													<div [innerHTML]="itemmap"></div>
												</div>
											</div>
											<div class="col-6">
												<input type="text" class="form-control" #answer (blur)="getAnswer(question.id, answer.value, question.type, indexopt, questionNumber)">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="question.display.length == 0">
							<div class="row" *ngFor="let itemmap of question.group;let idquestion = index;">
								<div class="col-6">
									<div class="alert alert-primary" role="alert">
										<div [innerHTML]="itemmap"></div>
									</div>
								</div>
								<div class="col-6">
									<input
										type="text"
										placeholder="Coloca tu respuesta"
										class="form-control" #answer
										(blur)="getAnswer(question.id, answer.value, question.type, idquestion, questionNumber)"
										>
								</div>
							</div>
						</div>
						<hr>
					</div>
					<!---->
					<!--Seccion para el tipo de respuesta en texto-->
					<div *ngIf="question.type == 'text'" style="margin-top:15px;">
						<textarea class="form-control" rows="3" draggable="false"></textarea>
						<hr>
					</div>
					<!--  -->
					<!--Seccion para el tipo de respuesta en true o false-->
					<div *ngIf="question.type == 'tf'" style="margin-top:15px;">
						<div class="form-check">
							<input class="form-check-input" type="radio" [name]="questionNumber" id="questionNumber" value="true" (change)="getAnswer(question.id, 'true', question.type, 0, questionNumber)">
							<label class="form-check-label" for="questionNumber">
								Verdadero
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" [name]="questionNumber" id="questionNumber" value="false" (change)="getAnswer(question.id, 'false', question.type, 0, questionNumber)">
							<label class="form-check-label" for="questionNumber">
								Falso
							</label>
						</div>
						<hr>
					</div>
					<!--  -->
					<!-- Validar Respuestas -->
					<!-- Esto hay que ponerlo en la última pregunta -->
					<!-- <button type="button" class="btn btn-success blockquote" [disabled]="!isValidateAttemp" (click)="showAccept(accept)">
						<i class="fas fa-check-circle"></i> Validar mis respuestas
					</button> -->
					<!--  -->
					</div>
					<div class="card-footer">
						<div class="btn-toolbar" role="toolbar">
							<div class="btn-group" role="group">
								<button
									type="button"
									class="btn btn-sm btn-raised btn-outline-primary"
									(click)="prevQuestion();"
									[disabled]="!prevButton"
									>
									<span *ngIf="prevButton">
										<i class="material-icons">chevron_left</i> {{questionNumber}}
									</span>
								</button>
								<button
									type="button"
									class="btn btn-sm btn-raised btn-outline-primary"
									(click)="nextQuestion();"
									[disabled]="!nextButton"
									>
									<span *ngIf="nextButton">
										{{questionNumber+2}}<i class="material-icons">chevron_right</i>
									</span>
								</button>
								<div *ngIf="!nextButton">
									<button
										type="button"
										class="btn btn-sm btn-raised btn-primary"
										>
											Validar mis respuestas
										</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
