.img-max {
	max-width: 250px;
	width: 100%;
}

.tdicon {
	width: 50px;
}

.pointme {
	cursor: pointer;
}

.pointhelp {
	cursor: help;
}

.modal-dialog {
	width: 360px;
}

@media print
{
	.non-printable {
		display: none;
	}
	.printable {
		display: block;
	}
}
