<div class="main-content">
	<div *ngIf="loading" class="text-center">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<div class="container-fluid" *ngIf="!loading">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-sm col-md-4 col-lg-3">
								<br>
								<img
									[src]="group.course.image"
									alt="{{group.course.title}}"
									width="250px"
									class="img-fluid rounded"
									>
							</div>
							<div class="col">
								<h3>{{group.course.title}} <small>({{group.course.code}})</small></h3>
								<div class="progress">
									<div class="progress-bar progress-bar-success bg-success" role="progressbar"
									attr.aria-valuenow="{{track | number : '.1'}}"
									aria-valuemin="0"
									aria-valuemax="100"
									[ngStyle]="{width:track+'%'}"
									></div>
								</div>
								<div [innerHTML]="group.course.description"></div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div [class]="track ? 'col-sm-6 col-md-4' : 'col-sm-5 col-md-4'">
								Grupo: <span class="text-primary">{{group.groupCode}}</span><br>
								Autor: <span class="text-primary">{{group.course.author}}</span>
								<div *ngIf="group.groupType=='self-paced'" class="text-primary">Curso sin tutor</div>
								<div *ngIf="group.groupType!='self-paced'" class="text-primary">Instructor: {{group.instructor.person.name}} {{group.instructor.person.fatherName}}</div>
							</div>
							<div [class]="track ? 'col-sm-6 col-md-6' : 'col-sm-5 col-md-6'">
								Avance del curso: <b class="text-success">{{track}}%</b><br>
								Categorías: <span class="text-primary">{{group.course.categories.join(', ')}}</span><br>
								Palabras de Búsqueda: <span class="text-primary">{{group.course.keywords.join(', ')}}</span><br>
							</div>
							<div class="col-sm-2" *ngIf="!track">
								<button
									type="button"
									class="btn btn-primary btn-sm"
									(click)="getBlock(group.blocks[0].id, true)"
									>
									Iniciar curso
								</button>
							</div>
						</div>
					</div>
					<div class="card-footer">
						Inicia: <span class="text-primary">{{group.beginDate | date}}</span> Finaliza: <span class="text-primary">{{group.endDate | date}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" *ngIf="!loading">
		<div class="row">
			<div class="col-md-12">
				<div>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Temario <small class="description">- {{group.course.title}} - {{group.course.code}}</small></h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-4 col-md-2">
									<ul class="nav nav-pills nav-pills-danger flex-column" role=tablist>
										<li class="nav-item" *ngFor="let section of sections; let first = first;">
											<a href="{{section.link}}" class="nav-link" [class.active]="first" data-toggle="tab" role="tablist">Unidad {{section.section}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-8 col-md-10">
									<div class="tab-content">
										<div *ngFor="let section of sections; let firstSection = first;" class="tab-pane" [class.active]="firstSection" id="{{section.name}}" >
											<h3 class="text-primary" *ngIf="track==0">
												{{group.blocks[section.number].title}}</h3>
											<h3 class="text-primary pointme" (click)="getBlock(group.blocks[section.number].id)" *ngIf="track>0">
												{{group.blocks[section.number].title}}</h3>
											<table class="table table-hover">
												<thead>
													<th>
														<a class="pointme" (click)="seeLessonNumberHelp()">
															<small>#</small>
														</a></th>
													<th>
														<a class="pointme" (click)="seenHelp()">
															<small>Visto</small>
														</a>
													</th>
													<th>
														<a class="pointme" (click)="typeHelp()">
															<small>Tipo</small>
														</a>
													</th>
													<th>
														<a class="pointme" (click)="lessonHelp()">
															<small>Lección</small>
														</a>
													</th>
												</thead>
												<tbody>
													<tr *ngIf="!track && section.section == sections[0].section">
														<td colspan="4">
															<button
																type="button"
																class="btn btn-primary btn-sm"
																(click)="getBlock(group.blocks[0].id, true)"
																>
																Iniciar curso
															</button>
														</td>
													</tr>
													<tr *ngFor="let block of group.blocks | slice:section.number + 1; let i of index; let firstBlock = first;" (click)="getBlock(block.id)" [class.pointme]="track">
														<!-- Número de sección/lección -->
														<td *ngIf="block.section == section.section && block.number != 0">
															<span [class.text-success]="block.track">{{block.section}}.{{block.number}}</span>
														</td>
														<!-- Visto/No visto -->
														<td *ngIf="block.section == section.section && block.number != 0" class="tdicon text-center">
															<i class="material-icons" *ngIf="!block.track">visibility_off</i>
															<i class="material-icons text-success" *ngIf="block.track">visibility</i>
														</td>
														<!-- Tipo de lección -->
														<td *ngIf="block.section == section.section && block.number != 0" class="tdicon text-center">
															<span [class.text-success]="block.track">
																<i class="material-icons" *ngIf="block.type=='textVideo' || block.type=='video'">theaters</i>
																<i class="material-icons" *ngIf="block.type=='text'">label</i>
																<i class="material-icons" *ngIf="block.type=='questionnarie'">ballot</i>
																<i class="material-icons" *ngIf="block.type=='task'">create</i>
															</span>
														</td>
														<!-- Título de la sección/lección -->
														<td *ngIf="block.section == section.section && block.number != 0">
															<span [class.text-success]="block.track">
																{{block.title}}
															</span>
															<span
																*ngIf="block.beginDate"
																class="text-right text-secondary"> |
																<i class="material-icons">date_range</i>
																Inicia: {{block.beginDate | date}}
															</span>
															<span
																*ngIf="block.endDate"
																class="text-right text-secondary"> |
																<i class="material-icons">date_range</i>
																Finaliza: {{block.endDate | date}}
															</span>
															<span
																*ngIf="block.duration"
																class="text-right text-secondary"> |
																<i class="material-icons">watch_later</i>
																Finaliza: {{block.endDate | date}}
															</span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
