<div class="main-content">
	<div *ngIf="loading" class="text-center">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<div class="container-fluid" *ngIf="!loading">
		<div class="card">
			<div class="card-header card-header-icon card-header-danger">
				<div class="card-icon">
					<i class="fas fa-certificate"></i>
				</div>
				<div class="card-title">
					<h4>{{grade.name}}</h4>
				</div>
			</div>
			<div class="card-body">
				<h4>{{grade.course}}</h4>
				<hr>
				<div class="container">
					<div class="row">
						<div class="col">
							Calificación:
						</div>
						<div class="col">
							<p class="h1"
							[ngClass]="{'text-success':grade.finalGrade>=grade.minGrade,'text-danger':grade.finalGrade<grade.minGrade}"
							>
								{{grade.finalGrade | number: '1.2-2'}}
								<small class="text-dark">/
									<small>
										<small>
											100
										</small>
									</small>
								</small>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							Avance: <b
							[ngClass]="{'text-success':track>=60,'text-warning':track>=30 && track<60,'text-danger':track<30}"
							>{{track | number: '1.2-2'}}%</b>
							<div class="progress">
								<div class="progress-bar"
								[ngClass]="{'progress-bar-success bg-success':track>=60,'progress-bar-warning bg-warning':track>=30 && track<60,'progress-bar-danger bg-danger':track<30}"
								role="progressbar"
								attr.aria-valuenow="{{track | number : '.1'}}"
								aria-valuemin="0"
								aria-valuemax="100"
								[ngStyle]="{width:track+'%'}"
								></div>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card" *ngIf="width >= 768">
			<div class="card-header card-header-primary card-header-icon">
				<div class="card-icon">
					<i class="material-icons">insert_chart</i>
				</div>
				<h4 class="card-title">Calificaciones</h4>
			</div>
			<div class="card-body">
				<div class="ct-chart" id="chart-grades"></div>
			</div>
		</div>
		<div class="card">
			<div class="card-header card-header-primary card-header-icon">
				<div class="card-icon">
					<i class="material-icons">pie_chart</i>
				</div>
				<h4 class="card-title">Ponderación y detalle de la calificación</h4>
			</div>
			<div class="card-body">
				<div class="container pb-4">
					<div class="row">
						<div class="col">
							<span class="text-primary">{{grade.course}}</span><br>
							<span class="h4">{{grade.name}}</span><br>
							<div *ngIf="grade.status == 'active'">Estatus: <span class="text-success">Activo</span></div>
							<div *ngIf="grade.status == 'pending'">Estatus: <span class="text-danger">Pendiente de pago</span></div>
							Inicio: {{grade.beginDate | date}}<br>
							Fin: {{grade.endDate | date}}<br>
						</div>
						<div class="col text-center">
							<span class="h4">Ponderación de las unidades</span>
							<div class="ct-chart" id="chart-rubric" *ngIf="width >= 768"></div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p>La calificación final está compuesta de las calificaciones ponderadas de cada unidad. Esto es, que la calificación obtenida en la unidad se pondera y se suma con las calificaciones ponderadas de las otras unidades. No todas las unidades tienen ponderación (unidades con 0%). En esta lista de calificaciones solo aparecen las unidades con ponderación.</p>
							<p>Las unidades, a su vez, tienen calificaciones ponderadas de cada lección. Solo las lecciones con examenes/quizes o actividades/tareas pueden ponderarse.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row text-primary font-weight-bold">
						<div class="col">Unidad</div>
						<div class="col-2 text-right">Ponderación</div>
						<div class="col-2 text-right">Cal. Obtenida</div>
						<div class="col-3 text-right">Cal. Ponderada</div>
					</div>
					<div id="accordion" role="tablist">
						<div class="card-collapse" *ngFor="let grade of display; let in = index;">
							<div class="card-header" role="tab" [attr.id]="'heading'+in">
								<h5 class="mb-0">
									<a
										data-toggle="collapse"
										[attr.href]="'#collapse'+in"
										aria-expanded="false"
										[attr.aria-controls]="'collapse'+in"
										class="collapsed"
										>
										<div class="container-fluid">
											<div class="row">
												<div class="col" [class.text-success]="grade.track">
													{{in+1}}.- {{grade.title}}
												</div>
												<div class="col-2 text-right">
													{{grade.w * 100 / totalW | number: '1.0'}}%
												</div>
												<div class="col-2 text-right">
													{{grade.grade | number: '1.2-2'}}
												</div>
												<div class="col-3 text-right">
													{{grade.w * grade.grade / totalW | number: '1.2-2'}}
												</div>
												<i class="material-icons">keyboard_arrow_down</i>
											</div>
										</div>
									</a>
								</h5>
							</div>
							<div
								[attr.id]="'collapse'+in"
								class="collapse"
								role="tabpanel"
								[attr.aria-labelledby]="'heading'+in"
								data-parent="#accordion"
							>
								<div class="card-body">
									<div class="row text-primary">
										<div class="col">Lección</div>
										<div class="col-2 text-right">Pond.</div>
										<div class="col-2 text-right">Cal. Obt.</div>
										<div class="col-3 text-right">Cal. Pond.</div>
									</div>
									<div
										class="row"
										[class.text-success]="lesson.track"
										*ngFor="let lesson of grade.lessons;">
										<div
											class="col"
											[class.pointme]="lesson.track"
											(click)="getBlock(lesson.id,lesson.track);"
											>
											<i class="material-icons md-18" *ngIf="lesson.type=='questionnarie'">ballot</i>
											<i class="material-icons md-18" *ngIf="lesson.type=='task'">create</i>
											{{grade.section}}.{{lesson.number}} {{lesson.title}}
										</div>
										<div class="col-2 text-right">
											{{lesson.w * 100 / grade.wSection | number: '1.2-2'}}%
										</div>
										<div class="col-2 text-right">
											{{lesson.grade | number: '1.2-2'}}
										</div>
										<div class="col-3 text-right">
											{{lesson.w * lesson.grade / grade.wSection | number: '1.2-2'}}
										</div>
									</div>
									<div class="row text-danger font-weight-bold">
										<div class="col">
											Calificación para {{grade.title}}
										</div>
										<div class="col-2  text-right">
											100%
										</div>
										<div class="col-2 text-right">

										</div>
										<div class="col-3 text-right">
											{{grade.grade | number: '1.2-2'}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row text-primary font-weight-bold">
						<div class="col">
							Calificación total para {{grade.name}}
						</div>
						<div class="col-3 text-right">
							{{finalGrade | number: '1.2-2'}}
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">

			</div>
		</div>
	</div>
</div>
