<div class="main-content">
	<div *ngIf="loading" class="text-center">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<div class="container-fluid" *ngIf="!loading">
		<div class="card">
			<div class="card-header card-header-icon card-header-danger">
				<div class="card-icon">
					<i class="fas fa-certificate"></i>
				</div>
				<div class="card-title">
					<h4>{{grade.name}}</h4>
				</div>
			</div>
			<div class="card-body">
				<h4>{{grade.course}}</h4>
				<hr>
				<div class="container">
					<div class="row">
						<div class="col">
							Calificación:
						</div>
						<div class="col">
							<p class="h1"
							[ngClass]="{'text-success':grade.finalGrade>=grade.minGrade,'text-danger':grade.finalGrade<grade.minGrade}"
							>
								{{grade.finalGrade | number: '1.2-2'}}
								<small class="text-dark">/
									<small>
										<small>
											100
										</small>
									</small>
								</small>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							Avance: <b
							[ngClass]="{'text-success':track>=60,'text-warning':track>=30 && track<60,'text-danger':track<30}"
							>{{track | number: '1.2-2'}}%</b>
							<div class="progress">
								<div class="progress-bar"
								[ngClass]="{'progress-bar-success bg-success':track>=60,'progress-bar-warning bg-warning':track>=30 && track<60,'progress-bar-danger bg-danger':track<30}"
								role="progressbar"
								attr.aria-valuenow="{{track | number : '.1'}}"
								aria-valuemin="0"
								aria-valuemax="100"
								[ngStyle]="{width:track+'%'}"
								></div>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card" *ngIf="width >= 768">
			<div class="card-header card-header-primary card-header-icon">
				<div class="card-icon">
					<i class="material-icons">insert_chart</i>
				</div>
				<h4 class="card-title">Detalle de calificaciones</h4>
			</div>
			<div class="card-body">
				<div class="ct-chart" id="chart-grades"></div>
			</div>
		</div>
		<div class="card">
			<div class="card-header card-header-primary card-header-icon">
				<div class="card-icon">
					<i class="material-icons">pie_chart</i>
				</div>
				<h4 class="card-title">Ponderación de la calificación</h4>
			</div>
			<div class="card-body">
				<div class="ct-chart" id="chart-rubric" *ngIf="width >= 768"></div>
				<div class="container fluid">
					<div class="row text-primary">
						<div class="col">Unidad</div>
						<div class="col-2 text-right">Ponderación</div>
						<div class="col-2 text-right">Cal. Obtenida</div>
						<div class="col-2 text-right">Cal. Ponderada</div>
					</div>
					<div class="row" *ngFor="let grade of grade.blocks;">
						<div class="col" *ngIf="grade.blockNumber == 0">
							{{grade.blockTitle}}
						</div>
						<div class="col-2 text-right" *ngIf="grade.blockNumber == 0">
							{{grade.blockW * 100 / totalW | number: '1.0'}}%
						</div>
						<div class="col-2 text-right" *ngIf="grade.blockNumber == 0">
							{{grade.grade | number: '1.2-2'}}
						</div>
						<div class="col-2 text-right" *ngIf="grade.blockNumber == 0">
							{{grade.blockW * grade.grade / totalW | number: '1.2-2'}}
						</div>
					</div>
					<div class="row text-primary">
						<div class="col">
							Total
						</div>
						<div class="col-2 text-right">
							{{totalPercentage * 100}}%
						</div>
						<div class="col-2 text-right">
						</div>
						<div class="col-2 text-right">
							{{finalGrade | number: '1.2-2'}}
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">

			</div>
		</div>
	</div>
</div>
