<div *ngIf="questionnarie.maxAttempts > attempts">
  <div class="alert alert-info">
    <span><i class="material-icons md-light">warning</i> Has usado {{attempts}} de {{questionnarie.maxAttempts}} intentos permitidos</span>
  </div>
</div>

<div *ngIf="questionnarie.maxAttempts == 1 && questionnarie.maxAttempts > attempts">
  <div class="alert alert-warning">
    <span><i class="material-icons md-dark">warning</i> Solo tienes un intento para realizar tu examen</span>
  </div>
</div>

<div *ngIf="questionnarie.maxAttempts <= attempts">
  <div class="alert alert-danger">
    <span><i class="material-icons md-light">warning</i> Has agotado los intentos permitidos</span>
  </div>
</div>

<div class="container-fluid" *ngIf="questionnarie.type=='quiz'">
	<div class="card"
		*ngFor="let question of questionnarie.questions; let questionNumber = index;"
		>
		<div class="card-header">
			<h4 *ngIf="question.label" class="text-primary">
				<i class="material-icons vertical-align-middle padding-bottom-3">help</i>
				<span *ngIf="question.label">{{question.label}}</span>
				<span *ngIf="question.help">- {{question.help}}</span>
			</h4>
			<h4 *ngIf="!question.label">
				<i class="material-icons vertical-align-middle padding-bottom-3">help</i>
				Pregunta {{questionNumber+1}}
				<span *ngIf="question.help">- {{question.help}}</span>
			</h4>
		</div>
		<div class="card-body">
			<!--Para los headers de las preguntas-->
			<div *ngIf="question.header">
				<div [innerHTML]="question.header"></div>
			</div>
			<!--  -->
			<!--Contenido o texto adicional de la pregunta-->
			<div [innerHTML]="question.text"></div>
			<!--  -->
			<!--Seccion para el tipo de respuesta en optativas-->
			<div *ngIf="question.type == 'option'" style="margin-top:15px;">
				<app-option
					[question]="question"
					[questionNumber]="questionNumber"
					></app-option>
			</div>
			<!--  -->
			<!--Seccion para el tipo de preguntas map-->
			<div *ngIf="question.type == 'map'" style="margin-top:15px;">
				<app-map
					[question]="question"
					[questionNumber]="questionNumber"
				></app-map>
			</div>
			<!---->
			<!--Seccion para el tipo de preguntas group-->
			<div *ngIf="question.type == 'group' && !question.order" style="margin-top:15px;">
				<app-group
					[question]="question"
					[questionNumber]="questionNumber"
				>
				</app-group>
			</div>
			<!---->
			<!--Seccion para el tipo de preguntas group con variación order==true-->
			<!-- Solo funciona si tiene un solo grupo de respuestas -->
			<div *ngIf="question.type == 'group' && question.order && question.answers.length == 1 && question.answers[0].type=='group'" style="margin-top:15px;">
				<app-order
					[question]="question"
					[questionNumber]="questionNumber"
				>
				</app-order>
			</div>
			<!---->
		</div>
		<div class="card-footer" *ngIf="question.footer">
			<!--Para las preguntas que tengan pie de pagina-->
			<span class="text-primary text-justify">
				<i class="fas fa-quote-left"></i>
				<p>
					{{question.footer}}
				</p>
			</span>
			<!--  -->
		</div>
	</div>
	<button mat-raised-button
		class="btn btn-sm btn-raised btn-primary"
		(click)="validateResponses()"
		>
		Validar respuestas
	</button>
</div>

<button mat-raised-button
	class="btn btn-sm btn-raised btn-danger"
	(click)="goExam()"
	*ngIf="questionnarie.type!='quiz'"
	>
	Lanza Examen
</button>
