.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.vertical-align-middle {
	vertical-align: middle;
}

.padding-bottom-3 {
	padding-bottom: 3px;
}

.material-icons.black {
	color: black;
}


// .st {
//   position: sticky;
//   top: 0;
//   // left: 0;
//   // width: 200px;
//   background: #fff;
//   // z-index: 2;
//   // height: 20px;
// }
//
// .card-body {
//   margin-top: 20px;
//   // height: 100px;
//   overflow: auto;
// }
