<div *ngFor="let map of question.group; let mapId = index">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<div [innerHTML]="map"></div>
				</div>
				<div class="card-body">
					<form class="form-inline ">
						<div class="form-group" *ngFor="let option of question.options;let optionMapId = index">
							<input
								class="form-check-input"
								type="radio"
								[name]="mapId"
								value="{{option.value}}"
								(change)="getUserResponse(option, optionMapId, mapId);"
							>
							<label class="form-control-plaintext">{{option.value}}</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
