<div class="container-fluid">
	<div class="card"
		*ngFor="let task of tasks; let taskNumber = index;"
	>
		<div class="card-header">
			<!-- Etiqueta de tarea -->
			<h4 class="text-primary">
				<i class="material-icons vertical-align-middle padding-bottom-3">create</i>
				<span *ngIf="task.label"> {{task.label}}</span>
				<span *ngIf="!task.label"> Tarea {{taskNumber+1}}</span>
			</h4>
			<!--  -->
		</div>
		<div class="card-body">
			<!--Headers de la tarea-->
			<div *ngIf="task.header">
				<div [innerHTML]="task.header"></div>
			</div>
			<!--  -->
			<!--Contenido o texto adicional de la tarea-->
			<div [innerHTML]="task.text"></div>
			<!--  -->
			<!-- Si la tarea tiene un campo tipo textarea -->
			<div *ngIf="task.type == 'textarea'"
				>
				<textarea
					class="form-control"
					rows="3"
					placeholder="Escribe aquí tu respuesta"
					#answerTaskTA
				></textarea>
			</div>
			<!--  -->
			<!-- Tarea de tipo texto -->
			<div *ngIf="task.type == 'text'">
				<input
					type="text"
					class="form-control"
					placeholder="Escribe aquí tu respuesta"
					#answerTaskTxt
					>
			</div>
			<!--  -->
			<!-- Tarea tipo archivo -->
			<div *ngIf="task.type == 'file'" class="row">
				<div class="col-sm-6">
					<input type="file">
				</div>
				<div *ngIf="currentFileUpload" class="col-sm-6">
					<div class="progress">
						<div
							class="progress-bar bg-success progress-bar-info"
							role="progressbar"
							attr.aria-valuenow="{{progress.percentage}}"
							aria-valuemin="0"
							aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
						{{progress.percentage}}%
						</div>
					</div>
					<div
						class="alert {{progress.statusAlert}} text-center"
						>
						<i class={{progress.icon}}></i> {{progress.status}}
					</div>
				</div>
			</div>
			<!--  -->
		</div>
	</div>
</div>
