<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul>
				<li>
					<a [routerLink]="['/pages/privacy']">Aviso de privacidad</a>
				</li>
				<li>
					<a href="https://www.grupocetec.com" target="_blank">Grupo CETEC</a>
				</li>
			</ul>
		</nav>
		<nav class="copyright pull-right">
			Un producto <a href="#"><img src="assets/img/superate.png" alt="Supérate México"></a>
			&nbsp;
			&copy;
			{{year}}, Powered by
			<a href="https://aclsystems.mx" target="_blank">ACL Systems S.A. de C.V.</a>
		</nav>
	</div>
</footer>
